.Media:first-child{
	padding-left: 0;
}
.Media:last-child{
	padding-right: 0;
}
.Media{
	cursor: pointer;
}
.Media .card{
	margin-bottom: 0;
}
.Media .card-image img{
	min-width: 400px;
	max-width: 100%;
	height: 260px;
	object-fit: cover;
}